
Hello {{ name }}

{# demo setting value #}

{% set forty_two = 42 %}

The answer to this question is  {{forty_two}}

{# demo getting value from other template #}

{%include 'data_stuff.j2' %}

{% import 'data_stuff.j2' as data_module %}

The list defined in other template is : {{ data_module.alist }}

{% include 'name_len.j2' %}
